MONGODB_URI=

FALLBACK_LANGUAGE='en'

API_STATS_PATH='/stats'
API_STATS_USERNAME='stats'
API_STATS_PASSWORD='stats'

AUTH_JWT_TOKEN_EXPIRES_IN=5m
AUTH_JWT_SECRET='supersecretkeyyoushouldnotcommittogithub'

AUTH_REFRESH_TOKEN_EXPIRES_IN=1d
AUTH_REFRESH_SECRET='supersecretkeyyoushouldnotcommittogithub_refresh'

AUTH_PASSWORDLESS_EXPIRES_IN=15m
AUTH_PASSWORDLESS_SECRET='supersecretkeyyoushouldnotcommittogithub_pwless'

AUTH_CONFIRM_EMAIL_TOKEN_EXPIRES_IN=15m
AUTH_CONFIRM_EMAIL_SECRET='supersecretkeyyoushouldnotcommittogithub_confirmEmail'

BULL_TASK_CONCURRENCY=20
BULL_BACKGROUND_CONCURRENCY=10
BULL_SAVE_LOG_CONCURRENCY=10
MAX_LOG_PER_TASK=10

### EMAIL ###
MAIL_SENDER='TaskTr noreply <no-reply@giaang.id.vn>' # your mail sender, All services below will use this mail sender

# sendgrid email service
SENDGRID_HOST='smtp.sendgrid.net'
SENDGRID_USER='apikey'
SENDGRID_PASSWORD=

# gmail email service
GMAIL_HOST='smtp.gmail.com'
GMAIL_USER='lehuygiang28@gmail.com'
GMAIL_PASSWORD=''

# resend email service
RESEND_HOST='smtp.resend.com'
RESEND_USER='resend'
RESEND_API_KEY=
### EMAIL ###

REDIS_HOST='localhost'
REDIS_PORT='6379'
REDIS_PASSWORD=
REDIS_CONNECT_TIMEOUT=5000